@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #d5d5d5;
}

#column-3 {
  background: #d5d5d5;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #AFEEEE;
  }

  #column-1 {
    background-color: #FFEFD5;
  }

  #column-2 {
    background-color: #FFF5EE;
  }

  #column-3 {
    background-color: #C0C0C0;
  }

  footer {
    background-color: #D8BFD8;
  }

  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #D8BFD8;
  }

  #column-1 {
    background-color: #C0C0C0;
  }

  #column-2 {
    background-color: #FFF5EE;;
  }

  #column-3 {
    background-color: #FFEFD5;
  }

  footer {
    background-color: #AFEEEE;
  }

  .col-3 {
    width: 33.3%;
  }
}
